---
colors:
  default: gray
  cloudflare: deep-orange
  github: blue-gray
  netlify: indigo
  statichost: green
  dispatch: dark-gray
---

<h2>Subdomains</h2>

<table class="w3-table-all">
{% for item in subdomains %}
	{% set color = colors.cloudflare 	if item.host == 'cloudflare' 
										else (colors.github if item.host == 'github' 
										else (colors.netlify if item.host == 'netlify' 
										else (colors.statichost if item.host == 'statichost' 
										else colors.default))) %}
	<tr>
		<td>{{ item.domain }}</td>
		<td class="w3-{{ color }}">{{ item.host }}</td>
		<td class="{{"w3-"+colors.dispatch if item.tool == 'dispatch'}}">{{ item.tool }}</td>
		<td>{{ item.alias }}</td>
	</tr>
{% endfor %}
</table>

ENDE
