


<style>
.w3-spin-1{animation:w3-spin-1 4s 1 linear}@keyframes w3-spin-1{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-redden{animation:w3-redden 2s 1 linear}@keyframes w3-redden{0%{background-color:inherit)}50%{background-color:#f44336C0}100%{background-color:inherit}}
.w3-greenen{animation:w3-greenen 2s 1 linear}@keyframes w3-greenen{0%{background-color:inherit)}50%{background-color:#4CAF50C0}100%{background-color:inherit}}
</style>

{% macro attrAnimation(id, effect='spin-1') %}
	id="{{id}}"
	onmouseover="document.getElementById('{{id}}').classList.add('w3-{{effect}}');"
	onmouseout="document.getElementById('{{id}}').classList.remove('w3-{{effect}}');"
{% endmacro %}
