<!-- Content part of layout files "index.njk" & "index.crypted.njk" -->
<!-- version: 2025-08-28 -->

<br>	
<hr>
<h2>
{%-   if language == 'en' %}Table of Content
{%- elif language == 'de' %}Inhaltsverzeichnis
{%- elif language == 'es' %}Índice
{%- elif language == 'ja' %}目次
{%- else %}{% lucide "table-of-contents" %}
{%- endif %}
</h2>
<section class="w3-section">

	<ul>
	{% for item in collections[toc] | reverse %}
		<li>
			<a href="{{ item.url | d('#') }}">{{ item.data.title | d(item.page.fileSlug) }}</a> «{{item.date|Datum(language)}}» {{item.data.description}}
		</li>
	{% endfor %}
	</ul>
</section>
