<!-- Variable Table
 --- Registrierung für beschränkte Bereiche
 --->
<!-- v1 30.10.2025 created -->

<!--

Displays "list"

Frontmatter:

listcaption:
  key:   Key
  value: Value
listcolor:
  headline:	"#919191"
  headtext:	"#FFFFFF"
  striped:	"#C2C2C2"

eleventyComputed:
  list:
    - key: textKey
      val: Hello World
    - key: javascriptEval
      val: $ document.referrer;
    - key: javascriptTimestamp
      val: $ new Date().toISOString();
    - key: 11ty Variable
      val: "{{ site.date }}"

-->


<style>
	.w3-striped tbody tr:nth-child(even){background-color:#C4C4C4;}
</style>

<div>
	<table class="w3-table w3-striped w3-bordered">
		<thead style="color:#FFFFFF; background-color:#919191;"><tr>
			<th>Key</th><th>Value</th>
		</tr></thead>
		<tbody>
		{% for item in list %}
			<tr><td id="key-{{loop.index}}">{{item.key}}</td><td id="val-{{loop.index}}">{{item.val}}</td></tr>
		{% endfor %}
		</tbody>
	</table>

</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
	const elements = document.querySelectorAll('[id^="val"]');
	elements.forEach(elem => {
		const str = elem.innerText
		if (str.startsWith("$")) {
			const code = str.slice(1);
			try {
				const result = eval(code); // execute the JS code
				console.log("Result:", result);
				document.getElementById(elem.id).innerText = result;
				return result;
			} catch (e) {
			  document.getElementById(elem.id).innerText = "Error executing code: " + e;
			}
		}
	});
});
</script>
