---
type: layout
layout: main.njk
version: 2025-03-28
---

<ms-markdown>  <!-- Bindestrich für html-5 custom tags erforderlich! -->
	{{ content | safe }}
<ms-markdown>

{% crypt site.cryptkey, " ms-crypted" %}
{% include "part.index-layout.njk" %}
{% endcrypt %}

