---
type: layout
layout: base.njk
version: 2025-01-21
---

<!-- Adaption für Mareikes Blog März 2025 -->

<style>
@media (max-width:300px){ .w3-hide-tiny{display:none!important} }
.w3-spin-1{animation:w3-spin-1 4s 1 linear}@keyframes w3-spin-1{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.w3-redden{animation:w3-redden 2s 1 linear}@keyframes w3-redden{0%{background-color:inherit)}50%{background-color:#f44336C0}100%{background-color:inherit}}
.w3-greenen{animation:w3-greenen 2s 1 linear}@keyframes w3-greenen{0%{background-color:inherit)}50%{background-color:#4CAF50C0}100%{background-color:inherit}}
</style>

{% macro attrAnimation(id, effect='spin-1') %}
	id="{{id}}"
	onmouseover="document.getElementById('{{id}}').classList.add('w3-{{effect}}');"
	onmouseout="document.getElementById('{{id}}').classList.remove('w3-{{effect}}');"
{% endmacro %}

{% macro itemlink(caption, url, pos='', tooltip='', language='') %}
	<a href="{{url|d('#')}}"
	   target="{{ 'external' if (''+url).startsWith('http') else '_self' }}"
	   class="w3-bar-item w3-button {{ 'w3-dark-gray' if (caption==menuitem) }} {{ 'w3-tooltip' if (tooltip or language) }} {{ 'w3-right' if (pos == 'right') }}">
			{%- if (pos=='indent') -%}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{%- endif -%}
			{{ caption|safe|title }}
			{%- if (tooltip or language) -%}<span class="w3-text w3-tag"> {{language+' '+url|d('') if language else tooltip|safe}}</span>{%- endif -%}
	</a>
{% endmacro %}

<header class="">
	<div class="w3-container theme-pale">
		<img src={{site.pagelogo}}
			 alt="Koj Temple Shinto Shrine Logo"
			 class="w3-left w3-padding w3-hide-tiny"
			 style="margin:0px 0;height:120px;"
			 {{ attrAnimation("layoutLogo") }}
			 onclick="openModal('loginPopup');"
			 >
		<div class="w3-left w3-hide-small">
			<h2 class="ms-text-red" style="margin-top:24px;">{{ site.title }}</h2>
			<h6 class="ms-text-red" style="margin-top:-1em">Version {{ pkg.version }}</h6>
		</div>
		<div class="w3-right theme-pale" style="margin-top:32px;">
			<button class="w3-btn w3-hide-small w3-circle" {{attrAnimation("layoutMail", "redden")}} >
				{% lucide "mail" ,{ "stroke": "#888", "stroke-width": 1, "size":"40" } %}
			</button>
			<button class="w3-btn w3-hide-small w3-circle" {{attrAnimation("layoutLogin", "greenen")}}>
				{% lucide "user" ,{ "stroke": "#888", "stroke-width": 1, "size":"40" } %}
			</button>
			<button id="layoutMenu" class="w3-btn w3-hide-medium w3-hide-large" style="overflow:visible">
				<div class="w3-dropdown-hover w3-transparent">
					{% lucide "menu" ,{ "stroke": "#888", "stroke-width": 1, "size":"40" } %}
					<div class="w3-dropdown-content w3-bar-block w3-black w3-large" style="right:-16px">
					{% for item in menu -%}
						{% if item.menu %}
							<span class="w3-bar-item">{{ item.name|safe|title }}</span>
							{% for subitem in item.menu -%}
								{% if subitem.name =='---' %}
								{% else %}
									{{ itemlink(subitem.name, subitem.url, 'indent') }}
									{#
								<a href="{{subitem.url|d('#')}}"
								   target="{{ 'external' if (''+subitem.url).startsWith('http') else '_self' }}"
								   class="w3-bar-item w3-button {{'ms-back-gray' if (subitem.name==menuitem)}}">
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ subitem.name|safe|title }}
								</a>
									#}
								{% endif %}
							{%- endfor %}
						{% elif item.url %}
							{{ itemlink(item.name, item.url) }}
						{% elif item.name %}
							{{ itemlink(item.name, '#') }}
						{% endif %}
					{%- endfor %}
					</div>
				</div>
			</button>
		</div>
		<!-- Ende Buttons oben rechts-->
	</div>
	<div class="w3-panel w3-black w3-small w3-hide-medium w3-hide-large">&nbsp;</div>
	<nav class="w3-bar w3-black w3-large w3-hide-small">
		<span class="w3-bar-item"></span>
		<span class="w3-bar-item w3-right"></span>
	{#	<span class="w3-bar-item w3-small w3-right w3-padding-small" style="margin:6px 8px">Version {{ pkg.version }}</span> #}
		{% for item in menu -%}
			{% if item.menu %}
				<div class="w3-dropdown-hover">
					<button class="w3-button">{{ item.name|safe|title }}</button>
					<div class="w3-dropdown-content w3-bar-block w3-black">
					{% for subitem in item.menu -%}
						{% if subitem.name =='---' %}
							<span class="w3-bar-item"></span>
						{% else %}
							{{ itemlink(subitem.name, subitem.url, '', subitem.tip, subitem.lang) }}
						{% endif %}
					{%- endfor %}
					</div>
				</div>
			{% elif item.url %}
				{{ itemlink(item.name, item.url, item.pos, item.tip, item.lang)}}
			{% elif item.name %}
				{{ itemlink(item.name, '#') }}
			{% endif %}
		{%- endfor %}
	</nav>
</header>

<ms-login>								<!-- display <ms-login> or ... -->
	{% include "login.njk" %}
</ms-login>

<main class="w3-section w3-container">	<!-- display <main>; but never both -->
	{{ content | safe }}
</main>

{% if not format.nofooter %}
<footer class="w3-bottom" style="height:48px;">
	<div class="w3-container w3-transparent w3-padding-large w3-center">
		<button class="w3-mobile w3-hide-small w3-btn w3-left w3-tooltip" onclick="footerToggleVisibility('layoutCopyright');">
			&nbsp;<span class="w3-text">{% lucide "toggle-right" %}</span>
		</button> <!-- was: &#127465;&#127466; -->

		<div id="layoutCopyright" class="w3-mobile w3-hide-small">
			<span class="w3-text-blue-grey">
				{% if not site.author.hide %}&copy; 2023 {% endif %}
				<a href="{{ site.url.impressum }}">{{ site.author.name }}</a>
				<span id="versionstring"></span> <span id="username"></span> <span id="dataversion"></span>
			</span>
		</div>

	</div>
</footer>
{% endif %}

<script>
function footerToggleVisibility(id="copyright") {
  var domX = document.getElementById(id);
  if (domX.style.display === "none") {
    domX.style.display = "block";
  } else {
    domX.style.display = "none";
  }
}
</script>

