---
type: layout
layout: main.njk
version: 2025-09-29
---

<ms-markdown {% if mdclass %}class="{{mdclass}}"{% endif %}>  <!-- Bindestrich für html-5 custom tags erforderlich! -->	
	{{ content | safe }}
</ms-markdown>
	
