---
layout: main.njk
description: "Galerie"
menuitem: gallery
loginonly: true
language: jp
---

{% macro picsumImage(nr=28, width=240, height=180) %}
<img src="https://picsum.photos/id/{{nr}}/{{width}}/{{height}}" alt="picsum #{{nr}}">
{% endmacro %}

<article class="w3-mobile w3-large" style="clear:both">
	<div class="w3-panel theme-color w3-text-white">
		<h1>Galerie</h1>
	</div>
	<div class="w3-section">
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
	</div>
	<div class="w3-section">
		{{ picsumImage(243) }}
		{{ picsumImage(277) }}
		{{ picsumImage(478) }}
		{{ picsumImage(553) }}
		{{ picsumImage(609) }}
		{{ picsumImage(634) }}
		{{ picsumImage(29) }}
		{{ picsumImage(37) }}
		{{ picsumImage(62) }}
		{{ picsumImage(106) }}
		{{ picsumImage(110) }}
		{{ picsumImage(25) }}
	</div>
	<div>
		<h6>Quellen</h6>
		<ul>
			<li><a class="w3-tooltip" href="https://web.stumpp.name/design/picsum">🔗 Picsum Viewer <span class="w3-text">https://web.stumpp.name/design/picsum</span></a></li>
			<li><a class="w3-tooltip" href="https://picsum.photos/">🔗 Original-API <span class="w3-text">https://picsum.photos</span></a></li>
		</ul>
	</div>
</article>
