---
type: iframe
layout: base.njk
title: writefreely blog overview
permalink: "{{ page.filePathStem }}.html"
version: 2025-10-13

buttonclasses: w3-bar-item w3-btn w3-margin-top
---

<main id="blog-cards w3-container" style="display:block;">
	<div class="w3-center w3-xlarge w3-bar-block w3-light-gray w3-padding" style="width:100%;">
		<a class="{{ buttonclasses }}" href="https://text.tchncs.de/m-e-st/">Michas Blog</a>
		<a class="{{ buttonclasses }}" href="https://text.tchncs.de/software-werkzeuge/">Software-Werkzeuge</a>
		<a class="{{ buttonclasses }}" href="https://text.tchncs.de/statische-webseiten">Statische Webseiten</a>
		<a class="{{ buttonclasses }}" href="https://text.tchncs.de/home-automation/">Home Automation</a>
	</div>
</main>

