---
layout: index.crypted.njk
description: "Dokumentation"
menuitem: doku
loginonly: true
backgroundimage: tech-macintosh.png
backgroundposition: bottomright
toc: docs
---

<ms-markdown class="w3-section">
	<h2>{{description}}</h2>
	<p>{{ text.lorem }}
	</p>
</ms-markdown>
