---
layout: index.njk
description: "Familie Stumpp"
menuitem: familie
loginonly: true
backgroundimage: galaxy-purple.png
toc: family
---

<ms-markdown class="w3-section">
	<h4>{{description}}</h4>
	<p>{{ text.lorem }}</p>
</ms-markdown>
