---
layout: main.njk
description: "Startseite"
menuitem: 🏠
language: en
loginonly: false
---

<style>
.svgImage {
	width: 64px;
	float: right;
}
.svgIcon {
	width: 32px;
	float: left;
	margin: 8px 16px 8px 0;
}
</style>

<div style="position:relative">
	<img src="{{site.imagedir}}/bg/tree-large-green.png" alt="Large Green Tree" class="w3-display-topmiddle" style="top:170px;height:90%;object-fit:contain;position:fixed;z-index:-1;opacity:0.3">
</div>

<section class="w3-row w3-large local-background">
	<article class="w3-third w3-border-0">
		<div class="w3-container w3-padding-large">
			<div class="">
				<div class="svgImage">{% include "icon.united-kingdom-flag.svg" %}</div>
				<h2 class="">Welcome!</h2>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><p class="kvc-text-silver">
				<b>Lorem ipsum</b> is a dummy or placeholder text commonly used in graphic design, publishing, and web development.
				Its purpose is to permit a page layout to be designed, independently of the copy that will subsequently populate it, 
				or to demonstrate various fonts of a typeface without meaningful text that could be distracting. 
			</p><p class="kvc-text-silver">
				Lorem ipsum is typically a corrupted version of <i>De finibus bonorum et malorum</i>, 
				a 1st-century BC text by the Roman statesman and philosopher Cicero, 
				with words altered, added, and removed to make it nonsensical and improper Latin. 
				The first two words themselves are a truncation of <i>dolorem ipsum</i>.
			</p>
		</div>
	</article>
	
	<article class="w3-third w3-border-0">
		<div class="w3-container w3-padding-large">
			<div class="">
				<div class="svgImage">{% include "icon.germany-flag.svg" %}</div>
				<h2 class="">Willkommen!</h2>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><p class="kvc-text-silver">
				<b>„Lorem ipsum dolor sit amet, consectetur adipiscing elit  …“</b> ist ein Blindtext, der nichts bedeuten soll, 
				sondern als Platzhalter im Layout verwendet wird, um einen Eindruck vom fertigen Schriftstück zu erhalten.
			</p><p class="kvc-text-silver">
				Die Verteilung der Buchstaben und der Wortlängen des pseudo-lateinischen Textes entspricht in etwa der natürlichen lateinischen Sprache. 
				Der Text ist absichtlich unverständlich, damit der Betrachter nicht durch den Inhalt abgelenkt wird. 
			</p>
		</div>
	</article>
	
	<article class="w3-third w3-border-0">
		<div class="w3-container w3-padding-large">
		<div class="">
			<div class="svgImage">{% include "icon.spain-flag.svg" %}</div>
			<h2 class="">¡Bienvenidos!</h2>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p><p class="kvc-text-silver">
				<b>Lorem ipsum</b> es el texto que se usa habitualmente en diseño gráfico en demostraciones de tipografías
				o de borradores de diseño para probar el diseño visual antes de insertar el texto final. 
			</p><p class="kvc-text-silver">
				El texto en sí no tiene sentido aparente, aunque no es aleatorio, sino que deriva de un texto de Cicerón en lengua latina,
				a cuyas palabras se les han eliminado sílabas o letras. 
				El significado del mismo no tiene importancia, ya que solo es una demostración o prueba. 
				El texto procede de la obra <i>De finibus bonorum et malorum</i>.
			</p>
		</div>
	</article>
</section>
<br>
<br>
<section class="">
	<article class="w3-border-0 w3-margin">
		<div class="w3-container">
			<div class="svgIcon">{% include "icon.united-kingdom-flag.svg" %}</div>
			<div class="W3-container">
				The content published here is only intended for a limited group of participants. 
				Access to the content of this website is not permitted without authorisation.
			</div>
		</div>
	</article>
	
	<article class="w3-border-0 w3-margin">
		<div class="w3-container">
			<div class="svgIcon">{% include "icon.germany-flag.svg" %}</div>
			<div class="W3-container">
				Die hier veröffentlichten Inhalte sind nur für einen eingeschränkten Teilnehmerkreis bestimmt.
				Der Zugriff auf die Inhalte dieses Auftritts ist ohne Freigabe unzulässig.
			</div>
		</div>
	</article>
	
	<article class="w3-border-0 w3-margin">
		<div class="w3-container">
			<div class="svgIcon">{% include "icon.spain-flag.svg" %}</div>
			<div class="W3-container">
				Los contenidos aquí publicados sólo están destinados a un grupo limitado de participantes. 
				No se permite el acceso al contenido de este sitio web sin autorización. 
			</div>
		</div>
	</article>
</section>
