---
layout: main.njk
description: "Startseite"
---
<div>
	<img src="{{site.imagedir}}/sprachcafe-poster.jpeg"
		 alt="Original-Poster 2024 des Sprachcafés in der Stadtbibliothek Oranienburg."
		 title="Original-Poster 2024 des Sprachcafés in der Stadtbibliothek Oranienburg."
		 class="w3-image"
		 >
</div>
