---
permalink: "/static/{{ page.fileSlug | slug }}.js"
---
{% include "./_library/main.js" %}
{% include "./_library/blog.js" %}
{% include "./_library/js/sha.js" %}		// <!-- standard lib: SHA Verschlüsselung -->
{% include "./_library/js/login.js" %}
{% include "./_data/user.js" %}				// <!-- user_data Tabelle mit allen Benutzern -->
{% include "./_library/js/utility.js" %}

