---
layout: main.njk
description: "Otganisatorisches"
permalink: "{{ page.filePathStem }}.html"
menuitem: organisation
---

<style>
.ms-karen-color { background-color: #610688; color: #FFF; }

.w3-tooltip .w3-text { color:#0052A3; text-decoration: none; }
li a .w3-text:before { content: "⇒ ";}
</style>

<article class="w3-mobile w3-large" style="clear:both">
	<div class="w3-panel ms-karen-color">
		<h4>Info-Kanal des Sprachcafé bei Telegram</h4>
	</div>
	<div class="w3-section">
		<p>
		<img class="w3-left" src="{{site.imagedir}}/qrcode-telegram-ersatz.svg", alt="QR-Code für Telegram-Anmeldung Info-Kanal" style="margin:-8px 16px 0 0; width:160px">
		Das Sprachcafé betreibt einen Telegram-Kanal. 
		Auf diesem Kanal werden kurzfristige Änderungen und Ausfälle bekannt gegeben.
		Außerdem gibt es gelegentlich Hinweise auf lokale Veranstaltungen, die besonders für Sprachanfänger geeignet sind.
		</p>
		<i class="w3-block w3-rightbar w3-leftbar w3-border-red w3-padding w3-pale-red" style="clear:both">Der QR-Code für den Telegram-Kanal ist momentan ein nicht funktionierender Dummy</i>
	</div>
</article>

<article class="w3-mobile w3-large" style="clear:both">
	<div class="w3-panel ms-karen-color">
		<h4>Neue Webseite des Sprachcafé</h4>
	</div>
	<div class="w3-section">
		<p>
		<img class="w3-left" src="{{site.imagedir}}/qrcode-sprachcafe-url.svg", alt="QR-Code zum Aufruf dieser Webseite" style="margin:-8px 16px 0 0; width:160px">
		<img class="w3-right" src="{{site.imagedir}}/emoji-angel.svg", alt="Ironie" style="margin:-8px 16px 0 16px; width:80px">
		Natürlich gibt es auch einen QR-Code zum Aufruf der Webseite des Sprachcafés Oranienburg.
		Allerdings hilft dieser QR-Code Ihnen nichts, wenn Sie diese Seite lesen.
		Denn er führt den Browser nur auf diese Seite.
		Und die wird Ihnen ja bereits angezeigt.
		</p>
	</div>
</article>


<!-- QRCODE Generator: https://www.tu-chemnitz.de/urz/apps/qrcode/index.html.en -->
