---
layout: main.njk
description: "HTML Poster"
menuitem: poster
---
<style>
.w3-large p {
	font-size: 20px;
	margin:1px;
}
.important {
	font-size: 22px;
	font-weight: 600;
}
.textbody {
	min-width:275px;
	width:50%;
	text-align: justify;
	display:inline-block;
}
</style>

<article class="w3-section w3-center">
	<img src="{{site.imagedir}}/sprachcafe-logo.png"
		 alt="Logo 2024 des Sprachcafés in der Stadtbibliothek Oranienburg."
		 title="Logo 2024 des Sprachcafés in der Stadtbibliothek Oranienburg."
		 class="w3-image"
		 style="width:275px;"
		 >
	<div class="w3-large">
	<p class="important">Du lernst Deutsch</p>
	<p>und möchtest Deine Sprachkenntnisse verbessern?</p>
	<p class="important">Deutsch ist Deine Muttersprache</p>
	<p>und du möchtest sie mit anderen teilen?</p>
	<p>Dann <b>komm in unser Sprachcafé</b>!</p>
	</div>
	<img src="{{site.imagedir}}/sprachcafe-people.png"
		 alt="Logo 2024 des Sprachcafés in der Stadtbibliothek Oranienburg."
		 title="Logo 2024 des Sprachcafés in der Stadtbibliothek Oranienburg."
		 class="w3-image"
		 style="width:500px;"
		 >
	<div class="w3-section w3-center">
		<p class="textbody">
			Unser <b>kostenloses Sprachcafé</b> bietet einen entspannten Rahmen, 
			um sich auf Deutsch zu unterhalten, Menschen aus der Nachbarschaft 
			kennenzulernen, neue Kulturen zu entdecken und voneinander zu lernen.
			Wir freuen uns auf dich!
		</p>
		<p>
			Wann: jeden <b>Freitag von 16:30 bis 17:30 Uhr</b><br>
			Wo: Stadtbibliothek Oranienburg, 2 OG
		</p><del>
			<b>Wir bitten um Anmeldung</b> unter<br>
			<b><a href="#">stadtbibliothek@oranienburg.de</a></b> oder <b>03301 600 8660</b>
		</del><p>
		</p>
	</div>
	<img src="{{site.imagedir}}/stadtbibliothek-logo.png"
		 alt="Logo der Stadtbibliothek Oranienburg."
		 title="Logo der Stadtbibliothek Oranienburg."
		 class="w3-image"
		 style="width:110px;"
		 >
</article>
