---
layout: main.njk
description: "Buddelkasten #1"
permalink: "{{ page.filePathStem }}.html"
menuitem: "nette bilder"
---

<style>
.ms-karen-color { background-color: #610688; color: #FFF; }

.w3-tooltip .w3-text { color:#0052A3; text-decoration: none; }
li a .w3-text:before { content: "⇒ ";}
</style>

<article class="w3-mobile w3-large" style="clear:both">
	<div class="w3-panel w3-light-blue">
		<h1>Nette Bilder</h1>
	</div>
	<div class="w3-section">
		<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. </p>
	</div>
	<div class="w3-section">
		<img src="https://picsum.photos/id/243/240/180">
		<img src="https://picsum.photos/id/277/240/180">
		<img src="https://picsum.photos/id/478/240/180">
		<img src="https://picsum.photos/id/553/240/180">
		<img src="https://picsum.photos/id/609/240/180">
		<img src="https://picsum.photos/id/634/240/180">
	</div>
	<div>
		<h6>Quellen</h6>
		<ul>
			<li><a class="w3-tooltip" href="https://web.stumpp.name/design/picsum">🔗 Picsum Viewer <span class="w3-text">https://web.stumpp.name/design/picsum</span></a></li>
			<li><a class="w3-tooltip" href="https://picsum.photos/">🔗 Original-API <span class="w3-text">https://picsum.photos</span></a></li>
		</ul>
	</div>
</article>
