---
type: page
layout: main.njk
permalink: "{{ page.filePathStem }}.html"
version: 2025-10-12
menuitem: text

buttonclasses: w3-bar-item w3-btn w3-margin-top
---

<style>

iframe {
  position: fixed;
  top: 164px;
  left: 0;
  width: 100%;
  height: calc(100% - 164px);
  border: none;
}
</style>

<iframe id="blogframe"
		name="blogframe" 
		src="/text-default.html"
		style="display:block">
</iframe>



<script>
document.addEventListener("DOMContentLoaded", function() {

	const source = new URL(window.location).searchParams.get("src");
	console.log (source, window.location);
	const frame = document.getElementById("blogframe");
	if (source) {
		frame.src = source;
	} else {
		frame.src = "/text-default.html";
	}
	console.log ("frame.src=", frame.src);
});
</script>
