---
layout: main.njk
menuitem: sandbox

pictures:
  - file: Birdie.jpg
    url: https://nextcloud.stumpp.name/index.php/s/F5Wptgo8ykatDRc
  - file: Frog.jpg
    url: https://nextcloud.stumpp.name/index.php/s/T3CinRqRnoYtC6b
  - file: Gorilla.jpg
    url: https://nextcloud.stumpp.name/index.php/s/W2a5dZQBPZSwM4N
  - file: Library.jpg
    url: https://nextcloud.stumpp.name/index.php/s/TZAgFinFbmA6wiL
  - file: Steps.jpg
    url: https://nextcloud.stumpp.name/index.php/s/AMq8gdgAJbC2CRL
  - file: Toucan.jpg
    url: https://nextcloud.stumpp.name/index.php/s/neDbGXorrGKMCAY
  - file: Vineyard.jpg
    url: https://nextcloud.stumpp.name/index.php/s/GM3YmWe7tnpGAq7
---

<style>
</style>


<h2>Bilder aus der Nextcloud</h2>

<section class="w3-section w3-row">
	{% for picture in pictures %}
		<img src="{{picture.url}}/preview"
			 alt="{{ picture.name | d(picture.file) }}"
			 class="w3-image w3-col s12 m4 i3"
			 style="object-fit:scale-down;max-width:1024px;"
		>
	{% endfor %}

</section>
